<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href=".hello.css">
    <!-- In case of virtual path -->
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
</head>

<body>
    <h1>Home</h1>
    <p>This is Home Page</p>
    <img src="images/coverImage.jpg" alt="">
    <!-- In case of virtual path -->
    <!-- <img src="static/images/coverImage.jpg" alt=""> -->
    <script src="/js/script.js"></script>
    <!-- In case of virtual path -->
    <!-- <script src="static/js/script.js"></script> -->

</body>

</html>