<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Home</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <hr>
    </nav>
    <h1>Home Page</h1>
    <p>This is Home Page</p>
    <h5>
        <%= name %>
    </h5>
</body>

</html>