<!-- include ejs header file -->
<%- include ("partials/header.ejs") %>
    <h1>About Page</h1>
    <p>This is About Page</p>
    <h3>
        <!-- display variable in ejs -->
    </h3>
    <!-- include ejs header file -->
    <%- include ("partials/footer.ejs") %>